[submodule "ref/YAP"]
	path = ref/YAP
	url = https://github.com/BurnoutDecomp/YAP.git
	branch = decomp
[submodule "tests/third_party/libbndl-extractor"]
	path = tests/third_party/libbndl-extractor
	url = https://github.com/Adriwin06/libbndl-extractor.git
